*{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}
.navbar-default{
	background-color: #fff;
}
.navbar-header{
	height: 65px;
}
.navbar-brand{
	padding: 17px 17px;
	line-height: 30px;
	height: 65px;
	font-size: 25px;
	line-height: 30px;
}
.footer p{
	text-align: center;
	color: #fff;
	padding-top: 5px;
}
.footer{
	background-color: #000;

}
.social-links .fb{
	color: #3b5998;
}
.social-links .tw{
	color: #4099ff;
}
.social-links .gp{
	color: #d34836;
}
.social-links .is{
	color: #4E433C;
}
.social-links .pi{
	color: #910101;
}
.ln{
	color: #4875B4;
}
.tw:hover{
	color: #00A0D1;
}
.social-links ul li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.social-links{
	margin-top: 15px;
}
.social-bottom ul li{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}
.social-bottom ul li i{
	color: #fff;
}
.social-bottom{
	float: right;
}
.device-cont{
	position: relative;
}
.device-cont .mobile{
	position: absolute;
}
.device{
	top: 11px;
	display: block;
	width: 561px;
	height: 489px;
	background-image: url(../img/device-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 300%;
}
.device-content{
	position: absolute;
	top: 166px;
	left: 52px;
	width: 456px;
	height: 325px;
	background-color: #f7f7f7;
}
.device-content form{
	padding: 20px;
	padding-top: 100px;
}




/* Custom classes */
.repiro-story{
	height: 500px;
	margin-top: -20px;
	background-color: #E67E22;
	background-image: url("../img/crossword.png");
	background-repeat: repeat;
	position: relative;
}
.repiro-story .container .content{
	margin-left: 50%;
	color: #fff;
	text-align: center;
	padding-top: 100px;
}
.repiro-story .container .content>h1{
	font-size: 78px;
}
.repiro-story .container .content>p{
	font-size: 20px;
}

.repiro-workflow{
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: center;
}
.repiro-workflow .container .row p{
	padding-top: 10px;
}
.border-line{
	width: 500px;
	margin: 0px auto;
	border-top: 2px solid #996A2F;
}
.repiro-features{
	padding-top: 10px;
	height: 475px;
	background-color: #E67E22;
	background-image: url("../img/crossword.png");
	background-repeat: repeat;
	color: #fff;
}
.repiro-features h2{
	text-align: center;
}

.repiro-booking{
	height: 300px;
	background-color: #C27E26;
	background-image: url("../img/crossword.png");
}


/*Timeline*/
.timeline{
	list-style:none;
	padding:0;
	position:relative
}

.timeline:before{
	top:0;
	bottom:0;
	position:absolute;
	content:"";
	width:2px;
	background-color:#f1f1f1;
	left:40px;
	margin-left:-1.5px
}

.timeline>li{
	margin-bottom:50px;
	position:relative;
	min-height:50px
}

.timeline>li:before,.timeline>li:after{
	content:" ";
	display:table
}

.timeline>li:after{
	clear:both
}

.timeline>li .timeline-panel{
	width:100%;
	float:right;
	padding:0 20px 0 100px;
	position:relative;
	text-align:left
}

.timeline>li .timeline-panel:before{
	border-left-width:0;
	border-right-width:15px;
	left:-15px;
	right:auto
}

.timeline>li .timeline-panel:after{
	border-left-width:0;
	border-right-width:14px;
	left:-14px;
	right:auto
}

.timeline>li .timeline-image{
	left:0;
	margin-left:0;
	width:80px;
	height:80px;
	position:absolute;
	z-index:100;
	background-color:#fed136;
	color:#fff;
	border-radius:100%;
	border:7px solid #f1f1f1;
	text-align:center
}

.timeline>li .timeline-image h4{
	font-size:10px;
	margin-top:12px;
	line-height:14px
}

.timeline>li.timeline-inverted>.timeline-panel{
	float:right;
	text-align:left;
	padding:0 20px 0 100px
}

.timeline>li.timeline-inverted>.timeline-panel:before{
	border-left-width:0;
	border-right-width:15px;
	left:-15px;
	right:auto
}

.timeline>li.timeline-inverted>.timeline-panel:after{
	border-left-width:0;
	border-right-width:14px;
	left:-14px;
	right:auto
}

.timeline>li:last-child{
	margin-bottom:0
}

.timeline .timeline-heading h4{
	margin-top:0;
	color:inherit
}

.timeline .timeline-heading h4.subheading{
	text-transform:none
}

.timeline .timeline-body>p,.timeline .timeline-body>ul{
	margin-bottom:0
}